body {
    margin: auto;
    margin-top: auto;
}
#anel-dois-fios {
height: 100px;
  height: 100px;
  width: 100px;
  border-radius: 75px;
}
#anel-liso { 
    height: 100px;
    height: 100px;
    width: 100px;
    border-radius: 75px;
}
#anel-ramo {
    height: 100px;
  height: 100px;
  width: 100px;
  border-radius: 75px;
}